.search-form {
    padding-left: 5rem;
  
    label {
      display: block;
      padding-top: 1rem;
    }
  
    input {
      width: 100%;
      max-width: 50%;
      min-width: 200px;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
  
    .search-btn {
      display: block;
      padding-top: 5rem;
    }
  }